
# VimPlug
autoload/plug.vim

# Pluggins
plugged

# Special configuration files
lua/lsp-servers/servers.lua

# Do not track lazy-lock
lazy-lock.json

# Don't save netrw history
.netrwhist

# Swap files
*.swp

# Disable check for updates in lazy.nvim
.no_updates_check

